<div class="login-container text-white text-center">
    <h3>Log In</h3>
    <input class="login-input" placeholder="username" type="text" />
    <input class="login-input" placeholder="password" type="password" />
    <div class="text-center">
        <button class="btn-signup btn">Sign Up</button>
        <button class="btn-login btn">Log In</button>
    </div>
    <p>If you can't remember your password click here</p>
</div>