@if(movie != null)
{
    <div class="movie-card">
        @if (!string.IsNullOrEmpty(movie.Poster_Url))
        {
            <img class="card-img-top" style="box-shadow: 0px 0px 20px @movie.PosterDominantColor" src="@movie.Poster_Url" alt="Card image cap">
        }
        else
        {
            <img class="card-img-top" src="../images/no-image.png" alt="Card image cap">
        }
        <div class="card-body">
            <h5 class="card-title">@movie.Title</h5>
        </div>
    </div>
}
else {
    <div class="movie-card empty-card">

    </div>
}