<div class="login-container text-white text-center">
    <h3>Log In</h3>
    <input class="login-input" placeholder="username" type="text" />
    <input class="login-input" placeholder="email" type="text" />
    <input class="login-input" placeholder="gentag email" type="text" />
    <input class="login-input" placeholder="password" type="password" />
    <input class="login-input" placeholder="gentag password" type="password" />
    <div class="text-center">
        <button class="btn-signup btn">Sign Up</button>
    </div>
</div>