@page "/"
@using MyModels;
@using Components;
<PageTitle>Movie Watchers</PageTitle>

<div class="input-div">
    <input class="input" placeholder="søg..." @bind="SearchQuery" />
    <button @onclick="GetMovieFromSearchQueryAsync" class="btn btn-primary">Søg</button>
</div>
@if (Movies != null)
{
    <div class="my-container text-white">
        @for (int i = 0; i < MovieListCount; i++)
        {
            if(i < Movies.Count)
            {
                <MovieCardComp movie="@Movies[i]" />
            }
            else
            {
                <MovieCardComp movie="null"/>
            }
        }
    </div>
}
else {
    <p> Niet Movies Findus</p>
}