body {
}

.my-container {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    height: 550px;
}
.movie-card {
    margin-top: 50px;
    border: solid 1px black;
    height: 100%;
    max-height: 500px;
    max-width: 250px;
}