body {
}

.my-container {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    height: 550px;
}
.movie-card {
    margin-top: 50px;
    border: solid 1px black;
    height: 100%;
    max-height: 500px;
    max-width: 250px;
}
.input {
    border-bottom: solid yellow 2px;
    color: white;
    background-color: #2c2629;
    outline: none;
}
.input-div {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}