@page "/"
@using Models.MovieModels;
@using MyModels;
<PageTitle>Movie Watchers</PageTitle>

<div>
    <input placeholder="søg..." @bind="SearchQuery" />
    <button @onclick="GetMovieFromSearchQueryAsync" class="btn btn-primary">Søg</button>
</div>
@if (Movies != null)
{
    <div class="my-container">
        @foreach (Movie movie in Movies)
        {
            <div class="movie-card">
                @if (!string.IsNullOrEmpty(movie.Poster_Url))
                {
                    <img class="card-img-top" style="box-shadow: 2px 2px 4px @movie.PosterDominantColor" src="@movie.Poster_Url" alt="Card image cap">
                }
                else
                {
                    <img class="card-img-top" style="box-shadow: 2px 2px 4px @movie.PosterDominantColor" src="../images/no-image.png" alt="Card image cap">
                }
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                </div>
            </div>
        }
    </div>
}
else {
    <p> Niet Movies Findus</p>
}