body {
}
.background-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.background {
    background-color: rgba(0,0,0,0.3);
    width: 30vh; 
    height: 30vh;
    border-radius: 10px;
    margin-top: 15vh;
}